*{
    /* padding-left: 4%;
    padding-right: 4%; */
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.div1{
    text-align: center;
}
.div2{
    display: flex;
    font-size: bold;
    color: black;
    padding-left: 14%;
    justify-content: space-evenly;
    padding-right: 14%;
     
}
.div3{
    text-align: center;
    margin-top: -1.3rem;
}
.btn{
    color: white;
    background:orangered;
    border: none;
    width: 19rem;
    height: 2.4rem;
    font-weight: bolder;
}
.div4{
    text-align: center;
    margin-top: 2rem;
    
}