.main{
    width: 25%;
    height: 50%;
    background-color: rgb(228, 228, 255);
    text-align: center;
    margin-left: 30rem;
    margin-top: 10rem;
    border: 15px solid rgb(11, 11, 119);
}
.img{
    /* padding-left: 3rem;
    padding-top: 2rem; */
    padding-top: 2rem;
    border-radius: 50%;
}
.icon{
    padding-bottom: 20px;
    font-size: xx-large;
}